#!/bin/bash

# os.osRelease isn't available on Android:
# chezmoi:template:missing-key="invalid"

{{ if eq .chezmoi.os "android" -}}

{{ range .packages.common -}}
pkg update && pkg upgrade
pkg install {{ . | quote }} -y
{{ end -}}

{{ else if eq .chezmoi.osRelease.id "endeavouros" -}}

{{ range .packages.common -}}
yay -Syu
yay -S {{ . | quote }} --needed
{{ end -}}

{{ end -}}

{{ if eq .chezmoi.os "android" -}}

{{ range .packages.android.pkg -}}
pkg install {{ . | quote }} -y
{{ end -}}

{{ else if eq .chezmoi.osRelease.id "endeavouros" -}}

{{ range .packages.arch.yay -}}
yay -S {{ . | quote }} --needed
{{ end -}}

{{ end -}}
