{{- $email := promptStringOnce . "email" "Your git email" -}}
{{- $name := promptStringOnce . "name" "Your git username (full name)" -}}
{{- $termuxEmail := promptStringOnce . "termuxEmail" "Your git email (for Termux)" -}}

{{- $editor := (eq .chezmoi.os "android") | ternary "nvim" "neovide" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  termuxEmail = {{ $termuxEmail | quote }}
  editor = {{ $editor | quote }}
  currentWallpaper = {{ joinPath .chezmoi.homeDir ".cache/currentWallpaper" | quote }} # This is a link to current wallpaper.
 
# TODO: Make backlight configurable for `hypridle`.
