# ~/.config/chezmoi/chezmoi.toml

[data]
  name = {{ promptString "git username" | quote }}
  email = {{ promptString "git email address" | quote }}
  gitSigningKey = {{ promptString "git signing key" | quote }}
