# ~/.config/chezmoi/chezmoi.toml

[data]
  name = {{ promptStringOnce "git username" | quote }}
  email = {{ promptStringOnce "git email address" | quote }}
  gitSigningKey = {{ promptStringOnce "git signing key" | quote }}
