# Theming:
gtk-theme-name={{ .theme.settings.gtk.theme | quote }}
gtk-icon-theme-name={{ index .theme.settings "icon-theme" | quote }}
gtk-cursor-theme-name={{ .theme.settings.cursor.x11 | quote }}
gtk-cursor-theme-size={{ .theme.settings.cursor.size }}
# Fonts:
gtk-font-name="{{ .theme.settings.font.system.regular }} {{ .theme.settings.font.system.size }}"
# Feedback and event sounds:
gtk-enable-event-sounds={{ index .theme.settings.gtk "event-sounds" }}
gtk-enable-input-feedback-sounds={{ index .theme.settings.gtk "input-feedback-sounds" }}
# Font rendering:
gtk-xft-dpi={{ .theme.settings.gtk.dpi }}
gtk-xft-rgba={{ index .theme.settings.gtk "rgba-order" | quote }}
gtk-xft-hinting={{ .theme.settings.gtk.hinting }}
gtk-xft-antialias={{ .theme.settings.gtk.antialias }}
gtk-xft-hintstyle={{ .theme.settings.gtk.hintstyle | quote }}
