[user]
	name = {{ .name }}
	email = {{ .email }}
	signingKey = {{ .gitSigningKey }}
[commit]
  gpgsign = true
[push]
  autoSetupRemote = true
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main

[includeIf "gitdir:~/Dev/termux/"]
  path = ~/.gitconfig-termux
