# vi: ft=hyprlang

source = ~/.cache/matugen/colors/hyprlock.conf

$font = {{ .theme.settings.font.system.regular }}

general {
  hide_cursor = true
  ignore_empty_input = true
  immediate_render = false
}

background {
  monitor =
  path = $wallpaper
  blur_passes = 5
  blur_size = 2
}

# TIME - Hour
label {
  monitor =
  text = cmd[update:1000] echo -e "$(date +"%H")"
  color = $primary
  font_size = 200
  font_family = $font
  position = 0, 350
  halign = center
  valign = center
}

# TIME - Minute
label {
  monitor =
  text = cmd[update:1000] echo -e "$(date +"%M")"
  color = $secondary
  font_size = 200
  font_family = $font
  position = 0, 65
  halign = center
  valign = center
}

#DATE
label {
  monitor =
  text = cmd[update:43200000] date +"%A, %d %B %Y"
  color = $primary
  font_size = 30
  font_family = $font
  position = 0, -180
  halign = center
  valign = center
}

input-field {
  monitor =
  size = 400, 100
  outline_thickness = 4
  dots_size = 0.2
  dots_spacing = 0.2
  dots_center = true
  outer_color = $primary
  inner_color = $surface
  font_color = $tertiary
  fade_on_empty = false
  placeholder_text = <span foreground="##$tertiaryHex"><i>󰌾    Logged in as </i><span foreground="##$primaryHex">$USER</span></span>
  hide_input = false
  check_color = $primary
  fail_color = $error
  fail_text = <i>$FAIL <b>($ATTEMPTS)</b></i>
  capslock_color = $warning
  position = 0, 180
  halign = center
  valign = bottom
}
