{{ if eq .chezmoi.os "android" -}}
function __gpg_agent_update_tty --on-event fish_preexec
    gpg-connect-agent updatestartuptty /bye &>/dev/null
end
{{ end -}}

gpgconf --launch gpg-agent # Start or re-use a gpg-agent
set -e SSH_AGENT_PID
set -gx SSH_AUTH_SOCK "$(gpgconf --list-dirs agent-ssh-socket)"
