[config.wallpaper]
command = "swww"
arguments = ["img", "--transition-type", "random" , "--transition-fps", "60"]
set = true

{{- $templatePath := "~/.config/matugen/templates" }}

[templates.rofi]
input_path = "{{ $templatePath }}/rofi.rasi"
output_path = "~/.config/rofi/colors.rasi"

[templates.starship]
input_path = "{{ $templatePath }}/starship.toml"
output_path = "~/.config/starship.toml"

[templates.fish]
input_path = "{{ $templatePath }}/colors.fish"
output_path = "~/.config/fish/themes/Matugen.theme"

[templates.gtk3]
input_path = "{{ $templatePath }}/gtk.css"
output_path = "~/.config/gtk-3.0/colors.css"

[templates.gtk4]
input_path = "{{ $templatePath }}/gtk.css"
output_path = "~/.config/gtk-4.0/colors.css"

[templates.hyprlock]
input_path = "{{ $templatePath }}/hyprlock.conf"
output_path = "~/.config/hypr/colors/hyprlock.conf"

[templates.waybar]
input_path = "{{ $templatePath }}/waybar.css"
output_path = "~/.config/waybar/colors.css"
post_hook = "pkill -SIGUSR2 waybar"

[templates.cava]
input_path = '{{ $templatePath }}/cava.ini'
output_path = '~/.config/cava/config'
post_hook = "pkill -USR1 cava || :"

[templates.dunst]
input_path = '{{ $templatePath }}/dunstrc'
output_path = '~/.config/dunst/dunstrc'
post_hook = "dunstctl reload"

[templates.btop]
input_path = '{{ $templatePath }}/btop.theme'
output_path = '~/.config/btop/themes/matugen.theme'

[templates.foot]
input_path = '{{ $templatePath }}/foot-colors.ini'
output_path = '~/.config/foot/colors.ini'

[templates.hyprland]
input_path = '{{ $templatePath }}/hyprland.conf'
output_path = '~/.config/hypr/colors/hyprland.conf'

[templates.fastfetch]
input_path = '{{ $templatePath }}/fastfetch.jsonc'
output_path = '~/.config/fastfetch/config.jsonc'
