# vi: ft=dosini

font={{ .theme.settings.font.coding.regular }}:size={{ .theme.settings.font.coding.size }}
dpi-aware=no
gamma-correct-blending=no
pad=5x5

include=~/.cache/matugen/colors/foot.ini

[mouse]
hide-when-typing=yes
alternate-scroll-mode=yes
