file:///home/{{ .chezmoi.username }}/Documents Documents
file:///home/{{ .chezmoi.username }}/Videos Videos
file:///home/{{ .chezmoi.username }}/Pictures Pictures
file:///home/{{ .chezmoi.username }}/Music Music
file:///home/{{ .chezmoi.username }}/Downloads Downloads
