@import url('../../.cache/matugen/colors/waybar.css');

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: {{ .theme.settings.font.waybar.name }};
    font-size: {{ .theme.settings.font.waybar.size }};
    font-weight: {{ .theme.settings.font.waybar.weight }};
}

#window {
  background: transparent;
  box-shadow: none;
  border-style: hidden;
}

#waybar {
    color: @primary;
    background: rgba(17, 17, 27, 0.6);
    border-radius: 10px;
}


.modules-left > widget:first-child > * {
    margin-left: 10px;
}

.modules-right > widget:last-child > * {
    margin-right: 10px;
}

#window,
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#custom-night-light,
#network,
#bluetooth,
#wireplumber,
#tray {
    padding: 0.5rem;
    margin: 1px;
}

#workspaces button {
    color: @secondary;
    opacity: 0.6;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.68);
}
#workspaces button.active {
    color: @primary;
    opacity: 1;
}
#workspaces button.urgent {
    color: @error;
    opacity: 1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery {
  border-radius: 5px;
}
#battery.warning:not(.charging) {
    color: @secondary;
}
#battery.critical:not(.charging) {
    color: @error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    min-width: 85px;
}

tooltip {
    background: rgba(17, 17, 27, 0.3);
    border: 1px solid #313244;
    border-radius: 10px;
}

tooltip label {
    color: @secondary;
    padding: 0.5rem;
}

@keyframes blink {
    to {
        color: rgb(17, 17, 27);
        background-color: @error;
    }
}
