-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here

local opt = vim.opt

opt.relativenumber = false

opt.guifont = "{{ .theme.settings.font.coding.regular }}:h{{ .theme.settings.font.coding.size }}"

if vim.g.neovide then
  vim.g.neovide_opacity = 0.65
  -- vim.g.neovide_text_gamma = 0.8
  -- vim.g.neovide_text_contrast = 0.1
end
